body {
  margin: 0;
  padding: 0;
  background-color:#000000;
  font-family: 'Federo', sans-serif;
  color:white;
  text-decoration:none;
}
#work {
  background: center no-repeat url('./img/work.jpg') ;
}
#art {
  background: center no-repeat url('./img/art.jpg');
}
#contact {
  background: center no-repeat url('./img/contact.jpg');
}
.rounded-circle {
  margin: 5px auto 0px;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
}
.header {
  font-size: 30px;
  color:white;
  font-family: 'Federo', sans-serif;
}
.jumbotron {
  line-height: 150px;
}
@media only screen and (min-width:560px){
  .jumbotron {
    line-height: 300px;
  }	
}
@media only screen and (min-width:1100px){
  .jumbotron {
    line-height: 500px;
  }
}
